* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


header{
    background-color: black;
    justify-content: center;
    display: flex;
    padding-bottom: 20px;
}

h1{
    font-style: bold;
    padding-left: 20%;
    padding-top: 5%;
    padding-bottom: 20px;
    color:rgb(240, 173, 50);
}

table {
    width: 60%;
    border-collapse: collapse;
    margin-top: 20px;
    margin: auto;
   
    
    
}

th, td {
    border: 3px solid rgb(240, 173, 50);
    padding: 8px;
    text-align: center;

    
    
    
    
}

th {
    background-color: #f2f2f2;
    
    
   
}
